<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-blue mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-blue mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Basketball
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=basketball_shoes" class="dropdown-item">Basketball Shoes</a>
                <a href="{% url 'products' %}?category=basketball_jerseys" class="dropdown-item">Basketball Jersey</a>
                <a href="{% url 'products' %}?category=basketball_gear" class="dropdown-item">Basketball Gear</a>
                <a href="{% url 'products' %}?category=basketball_shoes,basketball_jerseys,basketball_gear" class="dropdown-item">All Basketball Items</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-blue mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Football
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=football_shoes" class="dropdown-item">Football Shoes</a>
                <a href="{% url 'products' %}?category=football_jerseys" class="dropdown-item">Football Jersey</a>
                <a href="{% url 'products' %}?category=football_gear" class="dropdown-item">Football Gear</a>
                <a href="{% url 'products' %}?category=football_shoes,football_jerseys,football_gear" class="dropdown-item">All Football Items</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-blue" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rugby
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=rugby_shoes" class="dropdown-item">Rugby Shoes</a>
                <a href="{% url 'products' %}?category=rugby_jerseys" class="dropdown-item">Rugby Jersey</a>
                <a href="{% url 'products' %}?category=rugby_gear" class="dropdown-item">Rugby Gear</a>
                <a href="{% url 'products' %}?category=rugby_shoes,rugby_jerseys,rugby_gear" class="dropdown-item">All Rugby Items</a>
            </div>
        </li>

        <li class="nav-item"></li>
            <a class="ml-4 logo-font font-weight-bold nav-link text-blue" href="{% url 'contact' %}" id="specials-link">
                Returns
            </a>
        </li>
    </ul>
</div>